input{
  margin: 10px;
  border-radius: 5px ;
  padding: 6px;
  display: block;
}

.firstName {
    margin-right: 10px;
  }

.lastName{
    margin-top: 10px;
  }
  input[type="checkbox"]{
    display: inline;
  }